﻿@model List<DesignPattern.Models.ModelForView.PizzaForView>
@{
    ViewBag.Title = "Index";
}

<h2>List pizz</h2>
@foreach (var pizza in Model)
{
    <p>
        Pizza: @pizza.pizza.Name<br />
        Składniki: @pizza.getIngredientNames()
        <br />
        Cena: @pizza.getValue()
    </p>
}