﻿@model ComputerShop.Models.ModelsForViews.PartsContainer
@{
    ViewBag.Title = "createNewProduct";
}

<h2>Tworzenie nowego produktu</h2>

<form action="/Computers/assembleProduct" method="post">

    <fieldset>
        <p>
            Procesor: <select name="Procesor">
                @foreach (var procesor in Model.procesorList)
                {
                    <option value="@procesor.ID">@procesor.Name</option>
                }
            </select>
        </p>
        <p>
            Karta graficzna: <select name="GraphicCard">
                @foreach (var graphicCard in Model.graphicCardList)
                {
                    <option value="@graphicCard.ID">@graphicCard.Name</option>
                }
            </select>
        </p>
        <p>
            RAM: <select name="RAM">
                @foreach (var ram in Model.ramCubeList)
                {
                    <option value="@ram.ID">@ram.Name</option>
                }
            </select>
        </p>
        <p><input type="submit" value="Zbuduj komputer" /> </p>

    </fieldset>

</form>