﻿@model List<ComputerShop.Models.LocalModels.Computer>
@{
    ViewBag.Title = "Index";
}



<h2>Lista komputerów</h2>
@foreach (var computer in Model)
{
    <p>
        Procesor: @computer.procesor<br />
        Procesor: @computer.graphicCard<br />
        RAM: @computer.ramCube<br />
        Cena: @computer.getPrice()<br />
        Identyfikator: @computer.identifier
    </p>
}