﻿@model TomaszMichalSzandalaLab5ASP.Models.Movie
<div class="modal fade" id="add_movie_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Dodaj nowy film</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("SaveChanges", "Movies", FormMethod.Post))
                {
                    @Html.HiddenFor(Model => Model.ID)


                    <input type="text" name="Name" />
                    <input type="date" name="DateTime" value="@DateTime.Now.ToShortDateString()" />


                    <p>

                    </p>
                    <input type="submit" value="Zapisz" />

                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="add_new_movie_modal" class="btn btn-primary">Dodaj nowy</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->