﻿@model List<TomaszMichalSzandalaLab5ASP.Models.Movie>
    @{
        ViewBag.Title = "Index";
        
    }
@Html.Partial("~/Views/Movies/_AddNewMovieModal.cshtml", new TomaszMichalSzandalaLab5ASP.Models.Movie())
    <h2>Index</h2>
<button id="add_new_movie_button">Dodaj nowy film</button>
    <table class="table table-hover table-striped">
        <thead><tr><th class="col-1">ID</th><th class="col-md-5">Nazwa</th><th class="col-md-3">Data wydania</th><th class="col-md-3">Akcje</th></tr></thead>
        <tbody></tbody>
        @foreach (var item in Model)
        {
            <tr id="@item.ID">
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>@item.DateTime</td>
                <td>
                    <button id="delete-@item.ID" class="btn btn-danger delete">Usun</button>
                    <button id="edit-@item.ID" class="btn btn-primary edit">Akcja</button>
                    <button class="btn btn-default">Inne</button>
                    <button class="btn btn-warning">Ostrzeż</button>
                    <button class="btn btn-info">Info</button>
                    <button class="btn btn-success">Verde</button>
                </td>
            </tr>
        }


    </table>
    <div>
      
    </div>
<script type="text/javascript">
    $(document).ready(function () {
        //obsługa przycisku add new movie
        $('#add_new_movie_button').on('click', function(){
            $('#add_movie_modal').modal('show');

        })
        //obsługa delete
        $('.delete').on('click', function () {
            var id = $(this).prop('id').substring(7);
            $.ajax({
                url: "/Movies/DeleteById",
                type: "POST",
                data: { movieId: id },
                success: function () {
                    $('#' + id).remove();
                },
                error: function(data){
alert(data);}
            });
        });
    });
</script>