﻿@model List<TomaszMichalSzandalaLab5ASP.Models.Movie>
@{
    ViewBag.Title = "ShowAll";
}

<h2>ShowAll</h2>

@foreach (var mov in Model)
  {
      <p>
          Nazwa: @mov.Name
          @Html.ActionLink("Usuń", "DeleteById", new { @id = mov.ID })
          @Html.ActionLink("Edytuj", "UpdateById", new { @id=mov.ID})
      </p>
  }
    
