﻿@model TomaszMichalSzandalaLab5ASP.Models.Movie
@{
    ViewBag.Title = "UpdateById";
}

<h2>UpdateById</h2>

<div>
    @using (Html.BeginForm("SaveChanges", "Movies", FormMethod.Post))
    {
        @Html.HiddenFor(Model=>Model.ID)
        @Html.DisplayNameFor(Model => Model.Name)
        @Html.EditorFor(Model => Model.Name)
        @Html.DisplayNameFor(Model => Model.DateTime)
        @Html.EditorFor(Model => Model.DateTime)
        <input type="submit" value="Zapisz" />
    }

</div>