﻿@model List<Pizzeria.Models.Pizza>
@{
    ViewBag.Title = "Index";
}

<h2>List pizz</h2>
@foreach (var pizza in Model)
{
    <p>
        Pizza: @pizza.Name<br/>
        Składniki: @foreach (var ingredient in pizza.Ingredients)
                   {
                       @ingredient.Name
                   }
        <br/>
        Cena: @pizza.getValue()
</p>
}